<!DOCTYPE html>
<html>
    <head>
	    <title>vue</title>
		<script src="./vue.js" ></script>
		<script src="./fairy.js" ></script>
		<style>
		    div.layer{
			        position:absolute;left:50px;top:10px;border:1px solid black;
					overflow:hidden;
					width:600px;
					height:600px;
				}
		</style>
	</head>
	<body>
	    <div id="main" >
		    <div :style="root.style" class="layer" >
			    <div v-for="ro in root.fairyList" :style="ro" ></div>
			</div>
			<div :style="action.style" class="layer" >
			    <div v-for="ac in action.fairyList" :style="ac" ></div>
		    </div>
		</div>
	</body>
</html>
<script>
	
	var mapVm = new Vue({
	    el:'#main',
	    data:{
		    root:{
			    style:{
					zIndex:1,border:'1px solid black',
				},
				fairyList:{
				},
			},
			action:{
			    style:{
				    zIndex:2
				},
				fairyList:{
				},
			},
		},
		methods:{
		    initMap:function()
			{
			    
			},
			addFairy:function(fairy,layerName)
			{
			    var x = fairy.getter('left');
			    var y = fairy.getter('top');
				this[layerName].fairyList[x+'_'+y] = fairy;
			},
			reload:function()
			{
			    this.$forceUpdate();//强制重新绘制
			}
			
		},
		created:function(){
		    var func = function()
			{
			    this.setBackground({url:'./logo.png',left:0,top:0});
			    this.moveTo(100,100);
			}
			var func1 = function()
			{
                this.setBackground({url:'./logo1.png',left:0,top:0});
			    this.moveTo(10,10);
			}
		    obj = new ActionFairy(60,60,0,0);
			obj.addToVm(this,'root',func);
			obj.addFrame(func1);
			obj.play();
		},
	});
</script>